<%= form_tag '/plain_wallet', method: 'patch' do %>
  <div>
    <% if @plain_wallet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@plain_wallet.errors.count, 'error') %> prohibited your wallet from being saved:</h2>

        <ul>
          <% @plain_wallet.errors.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div>
    <p>Name <%= "#{@plain_wallet.first_name} #{@plain_wallet.last_name}" %></p>

    <p>Account Number <%= @plain_wallet.account_number %></p>

    <div class="form-group">
      <%= label_tag('plain_wallet[first_name]', 'First Name') %>
      <%= text_field_tag('plain_wallet[first_name]', @plain_wallet.first_name) %>
    </div>

    <div class="form-group">
      <%= label_tag('plain_wallet[last_name]', 'Last Name') %>
      <%= text_field_tag('plain_wallet[last_name]', @plain_wallet.last_name) %>
    </div>

    <div class="form-group">
      <%= label_tag('plain_wallet[email]', 'Email') %>
      <%= text_field_tag('plain_wallet[email]', @plain_wallet.email) %>
    </div>

  </div>
  <div>
    <%= submit_tag 'Update', class: 'btn btn-primary' %>
  </div>
<% end %>
